* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Manrope;
}
:root {
    --main-blue: #0082a1;
    --main-red: #ff4e00;
}
header {
    position: absolute;
    top: 0;
    opacity: 0.76;
    background-color: var(--main-red);
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10% 0 10%;
}
header nav {
    width: 80%;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: #000;
}
button {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: var(--main-red);
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    text-align: center;
    border-style: none;
}
button:hover {
    background-color: #fff;
    color: var(--main-red);
}
a:hover {
    color: #fff;
    cursor: pointer;
}
header nav ul {
    font-size: 30px;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul li a span {
    color: var(--main-blue);
}
header .login_mark {
    width: 40px;
    height: 40px;
    background-color: var(--main-blue);
    border-radius: 50%;
}
.home_page {
    background: url('../img_assets/main_page.jpg') center center/cover no-repeat;
    min-height: 100vh;
    width: 100%;
    padding: 120px 50px 0 50px;
}
.home_page h1 {
    font-size: 60px;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
}
span {
    color: var(--main-red);
}
.home_page .main_images {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home_page h2 {
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    color: #ffffff;
}
.home_page .main_links {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.home_page .main_links a{
    font-size: 30px;
    text-align: center;
    color: var(--main-red);
}
.home_page .main_links a:hover{
    color: #fff;
}
footer {
    bottom: 0;
    height: 150px;
    width: 100%;
    background-color: var(--main-blue);
    color: #000;
    padding: 1% 2%;
    font-size: 20px;
}
footer .up_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer .up_footer ul {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .up_footer img {
    width: 50px;
    height: 50px;
}
footer .up_footer img:hover {
    opacity: .5;
}
footer span {
    display: block;
    margin: 10px auto;
    border-top: 3px solid;
    width: 90%;
    color: #000;
}
footer .down_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
                                /* PAGE SEASON */
/*----------------------------------------------------------------------------------------*/
.season {
    background: url('../img_assets/season.jpg') center center/cover no-repeat;
    width: 100%;
    min-height: 100vh;
    padding: 20vh 5vh 10vh 5vh;
}
.season .leave_forecast {
    display: flex;
    justify-content: space-around;
}
.season .leave_forecast .list_games {
    width: 40%;
    height: 70vh;
    border-radius: 10px;
    box-shadow: 0px 9px 48px 12px rgba(0, 0, 0, 0.24);
    background-color: var(--main-blue);
    color: #fff;
    font-size: 20px;
}
.season .leave_forecast .list_games h3 {
    color: var(--main-red);
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}
.season .leave_forecast .list_games .inner_list_games form input {
    width: 40px;
    height: 25px;
    border-radius: 10px;
    border-style: none;
    background-color: #ffffff;
    display: block;
    margin: 9px 6px;
    font-size: 20px;
    text-align: center;
}
.season .leave_forecast .list_games .inner_list_games form input:focus {
    outline: none;
}
.season .leave_forecast .list_games .inner_list_games {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.season .leave_forecast .list_games .inner_list_games form {
    display: flex; 
    align-items: center;
    justify-content: space-around;
}
.season .leave_forecast .list_games .inner_list_games ul li {
    margin: 6px 0;
}
.season .leave_forecast .list_games button {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
}
.season .times {
    font-size: 40px;
    color: #fff;
    text-align: center;
}
.season .times p {
    margin-bottom: 90%;
}

                                /* PAGE RESULTS */
/*----------------------------------------------------------------------------------------*/
.results .table {
    margin-top: 12vh;
}
.results .table h3 {
    font-size: 48px;
    color: #ffffff;
    text-align: center;
}
.results .table table {
    width: 60%;
    height: 60vh;
    border-radius: 10px;
    box-shadow: 0px 9px 48px 12px rgba(0, 0, 0, 0.24);
    background-color: var(--main-blue);
    color: var(--main-red);
    text-shadow: 2px 2px 2px #000;
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
    margin-top: 10vh;
}
.results .table table .first {
    background-color: var(--main-blue);
}
.results .table button {
    width: 300px;
    display: block;
    margin: 40px auto;
}