<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Manrope&display=swap" rel="stylesheet">
    <title>Турнир прогнозистов</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="#"><span>Главная</span></a>   
                </li>
                <li>
                    <a href="{{ url_for('season') }}">Сезон</a>
                </li>
                <li>
                    <a href="{{ url_for('results') }}">Результаты</a>
                </li>
            </ul>
        </nav>
        <div class='login_mark'>
        </div>
    </header>
    <section class='home_page'>
        <h1><span>Турнир</span> Прогнозистов</h1>
        <div class="main_images">
            <img src="{{ url_for('static', filename='img_assets/tit_circle.png') }}" alt="титус">
            <img src="{{ url_for('static', filename='img_assets/ryk_circle.png') }}" alt="рыкус">
            <img src="{{ url_for('static', filename='img_assets/pas_circle.png') }}" alt="пасус">
            <img src="{{ url_for('static', filename='img_assets/lev_circle.png') }}" alt="Николай">
        </div>
        <h2>Мы прогнозисты хоть куда, <br>
            в наших очках <span>нет льда</span>
        </h2>
        <div class="main_links">
            <a href="">оставить прогноз</a>
            <a href="">группа вк</a>
        </div>
    </section>
</body>
</html>