<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Manrope&display=swap" rel="stylesheet">
    <title>Турнир прогнозистов</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="{{ url_for('index') }}">Главная</a>
                </li>
                <li>
                    <a href="#"><span>Сезон</span></a>
                </li>
                <li>
                    <a href="{{ url_for('results') }}">Результаты</a>
                </li>
                </li>
            </ul>
        </nav>
        <div class='login_mark'>
        </div>
    </header>

    <section class="season">
        <div class="leave_forecast">
            <div class="list_games">
                <h3>Оставить прогноз</h3>
                <div class="inner_list_games">
                    <ul class='left_teams'>
                        <li>Спартак</li>
                        <li>Спартак</li>
                        <li>Спартак</li>
                        <li>Спартак</li>
                        <li>Спартак</li>
                        <li>Спартак</li>
                        <li>Спартак</li>
                        <li>Спартак</li>
                        <li>Спартак</li>
                        <li>Спартак</li>
                    </ul>
                    <form action="">
                        <div class="first_column">
                            <input type="text">
                            <input type="text">
                            <input type="text">
                            <input type="text">
                            <input type="text">
                            <input type="text">
                            <input type="text">
                            <input type="text">
                            <input type="text">
                            <input type="text">
                        </div>
                        <ul class='two_dotes'>
                            <li> : </li>
                            <li> : </li>
                            <li> : </li>
                            <li> : </li>
                            <li> : </li>
                            <li> : </li>
                            <li> : </li>
                            <li> : </li>
                            <li> : </li>
                            <li> : </li>
                        </ul>
                        <div class="second_column">
                            <input type="text">
                            <input type="text">
                            <input type="text">
                            <input type="text">
                            <input type="text">
                            <input type="text">
                            <input type="text">
                            <input type="text">
                            <input type="text">
                            <input type="text">
                        </div>
                    </form>
                    <ul class='right_teams'>
                        <li>Локомотив</li>
                        <li>Локомотив</li>
                        <li>Локомотив</li>
                        <li>Локомотив</li>
                        <li>Локомотив</li>
                        <li>Локомотив</li>
                        <li>Локомотив</li>
                        <li>Локомотив</li>
                        <li>Локомотив</li>
                        <li>Локомотив</li>
                    </ul>
                </div>
                <button>Отправить</button>
            </div>

            <div class="times">
                <p>Прогнозируем на <br> 12, 13 июня</p>
                <span>До конца сезона <br> </span>
                32 дня 23 часа
            </div>
        </div>

    </section>
    <footer>
        <div class="up_footer">
            <div class="name">Турнир Прогнозистов</div>
            <ul>
                <li>
                    <a href="{{ url_for('index') }}">Главная</a>
                </li>
                <li>
                    <a href="{{ url_for('season') }}">Сезон</a>
                </li>
                <li>
                    <a href="{{ url_for('results') }}">Результаты</a>
                </li>
            </ul>
            <a href="https://vk.com/turnirprognoz2019" target= '_blank'>
                <img src="{{ url_for('static', filename='img_assets/vk.svg') }}" alt="ВК">
            </a>
        </div>
        <span></span>
        <div class="down_footer">
            <div class="tribbute">
                Photo by Timothy Tan on Unsplash
            </div>
            <div class="rights">
                Все права защищены, 2020
            </div>
        </div>
    </footer>
</body>
</html>